<% if message.user.id == soup.user.id %>
  <p class="message-bubble soup-owner">
    開湯者說：<%= strip_tags message.body %>
  </p>
<% else %>
  <p class="message-bubble soup-participant" data-message-user-id="<%= message.user.id %>">
    <%= message.user.name %>：<%= strip_tags message.body %>
  </p>
<% end %>
