<div id="soups-rules">
  <div class="title">
    <h1>海龜湯規則</h1>
  </div>
  <div class="participant">
    <h2>煮湯人</h2>
    <ul>
      <li>最終目的為解開該故事（海龜湯）</li>
      <li>根據開湯人給的「前情提要」開始提問</li>
      <li>可以從「有用線索」查看目前的重要線索</li>
    </ul>
  </div>
  <div class="owner">
    <h2>開湯人</h2>
    <ul>
      <li>面對煮湯人的問題，僅能回答「是 or 不是」(有 or 沒有) 或是「不重要」等的簡單回答</li>
      <li>當煮湯人講到你認為是關鍵的線索時，可以在「新增線索」的地方新增</li>
      <li>把整鍋湯煮完時，開湯人可以在「新增線索」新增故事結果</li>
      <li>最後按下「完結該湯」結束故事，結束後就無法再對該鍋湯進行修改</li>
      <li>可以點選要回覆的問題，系統會直接在輸入框顯示預設訊息</li>
    </ul>
  </div>
</div>
