$size: 16px;
$speed: 3s;
$peakopacity: 0.7;

#welcome {
  .background {
    overflow: hidden;
    position: fixed;
    left: 0;
    height: 100%;
    width: 100%;
    will-change: transform;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: all 1.4s cubic-bezier(0.22, 0.44, 0, 1);
    transition: all 1.4s cubic-bezier(0.22, 0.44, 0, 1);

    &:first-child {
      background: #ECECD7;
      z-index: 2;
      top: 0;
    }

    &:nth-child(2) {
      background: #ECECD7;
      z-index: 1;
      top: 100vh;
    }

    .content-wrapper {
      height: 100%;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center;
      text-align: center;
      -webkit-flex-flow: column nowrap;
      -ms-flex-flow: column nowrap;
      flex-flow: column nowrap;
      will-change: transform;
    }
  }

  .background-open {
    left: 77%;
  }

  .site-logo {
    background: image-url("site-logo.svg") no-repeat;
    position: relative;
    margin: auto;
    width: 200px;
    height: 200px;

    span {
      position: absolute;
      top: 100%;
      left: calc(50% - 63px);
      color: #3c521d;
      font-size: 42px;
    }
  }

  .random {
    background: rgba(242, 242, 242, 0.7);
    width: 60%;
    margin: 0 auto 0 auto;
    border-radius: 6px;
    padding: 10px 12px;
    text-align: center;
    font-size: 22px;

    a {
      text-decoration: none;
      color: #3c521d;
    }
  }

  .arrows {
    position: absolute;
    bottom: 5%;
    left: calc(50% - 8px);
    width: $size;
    height: $size;
    transform: translate(-50%, -50%);

    &:before {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      border-left: $size/3 solid rgba(0, 0, 0, $peakopacity);
      border-bottom: $size/3 solid rgba(0, 0, 0, $peakopacity);
      transform: translate($size/3, $size * 4/3) rotate(-45deg);
      animation: arrows $speed linear infinite;
    }

    &:after {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      border-left: $size/3 solid rgba(0, 0, 0, $peakopacity);
      border-bottom: $size/3 solid rgba(0, 0, 0, $peakopacity);
      transform: translate($size * 2 / 3, 0px) rotate(-45deg) ;
      animation: arrows $speed linear infinite $speed / -2;
    }
  }

  @keyframes arrows {
    0% {
      border-left: $size/3 solid rgba(0,0,0,0);
      border-bottom: $size/3 solid rgba(0,0,0,0);
      transform: translate($size / -6, $size * 4 / -6) rotate(-45deg) ;
    }

    10%, 90% {
      border-left: $size/3 solid rgba(0, 0, 0, 0);
      border-bottom: $size/3 solid rgba(0, 0, 0, 0);
    }

    50% {
      border-left: $size/3 solid rgba(0, 0, 0, $peakopacity);
      border-bottom: $size/3 solid rgba(0, 0, 0, $peakopacity);
      transform: translate($size / -6, 0px) rotate(-45deg) ;
    }

    100% {
      border-left: $size/3 solid rgba(0,0,0,0);
      border-bottom: $size/3 solid rgba(0,0,0,0);
      transform: translate($size / -6,$size * 4 / 6) rotate(-45deg) ;
    }
  }

  .list {
    width: 100%;

    div {
      background: rgba(242, 242, 242, 0.7);
      width: 73%;
      margin: auto;
      border-radius: 6px;
      padding: 10px 20px 20px 20px;

      ul {
        width: 80%;
        font-size: 22px;
        list-style-type: none;
        padding-left: 0;
        line-height: 60px;
        text-align-last: justify;
        margin: auto;

        li {
          border-bottom: 1px solid #34344A;
        }
      }

      a {
        text-decoration: none;
        color: #3c521d;
      }
    }
  }

  .slogan {
    width: 70%;
    margin: 40px auto 0 auto;
    text-align: center;
    font-size: 26px;

    p {
      margin: 10px 0;
    }

    span {
      font-weight: bold;
      color: #93a773;
    }
  }
}
