@mixin input-style {
  width: 100%;
  padding: 7px 10px;
  margin: 8px 0;
  border: 1px solid #737373;
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 16px;
}

#soups-new {
  width: 90%;
  margin: auto;
  color: #3c521d;

  .title {
    text-align: center;

    h1 {
      font-size: 35px;
    }
  }

  .soup-form-wrapper {
    position: relative;
    margin-top: 13vw;
    border: 1px solid #F7AF9D;
    border-radius: 9px;
    font-size: 5vw;

    span {
      position: absolute;
      top: -10px;
      left: 8px;
      background: #ECECD7;
      padding: 0 6px;
    }

    form {
      padding: 30px 10px 15px 10px;

      input[type="text"] {
        @include input-style;
      }

      textarea {
        @include input-style;

        resize: vertical;
        height: 200px;
      }

      input[type="submit"] {
        @include input-style;

        background: #e4e4e4;
        border: none;
        color: #34344A;
      }
    }
  }
}
