#soups-show {
  height: 100%;
  position: relative;
  color: #3c521d;

  .title {
    position: absolute;
    width: 100%;
    top: 0;
    z-index: 10;
    background: #ECECD7;
    height: 70px;

    h1 {
      text-align: center;
      font-size: 25px;
      height: 40px;
      line-height: 40px;
      font-size: 32px;
    }
  }

  .info-link {
    position: absolute;
    width: 100%;
    top: 70px;
    z-index: 10;
    height: 44px;
    line-height: 44px;
    text-align: center;
    background: #ECECD7;

    div {
      display: flex;
      justify-content: space-around;
      margin: auto;
      width: 94%;
      background: #e5e5ea;
      border-radius: 6px;
    }

    a {
      color: #3c521d;
      text-decoration: none;
    }
  }

  .soup-flash {
    display: none;
    position: absolute;
    top: 114px;
    background: #ffeac1;
    width: 94%;
    left: 3%;
    z-index: 10;
    padding: 7px;
    box-sizing: border-box;
    border-radius: 6px;

    span {
      font-size: 16px;
    }

    div {
      float: right;
      font-size: 20px;
      line-height: 20px;
      color: #ffb746;
    }
  }

  .finished, .pending {
    display: block;
  }

  .new-clue-panel, .description-panel, .clue-panel {
    display: none;
    position: absolute;
    width: 96%;
    left: 2%;
    border-radius: 5px;
    z-index: 10;
    top: 114px;
    height: calc(100% - 114px);
    background: #fffdd6;
    padding: 25px 20px;
    text-align: justify;
    box-sizing: border-box;
    font-size: 19px;

    div {
      overflow: scroll;
      height: 100%;
    }
  }

  @mixin panel-before {
    content: "";
    position: absolute;
    top: -6px;
    border-top: 6px solid #fffdd6;
    border-right: 6px solid #fffdd6;
    width: 10px;
    height: 10px;
    transform: rotate(-45deg);
  }

  .clue-panel:before {
    @include panel-before;

    right: 10%;
  }

  .new-clue-panel:before {
    @include panel-before;

    right: 60%;
  }

  .description-panel:before {
    @include panel-before;

    right: 34%;
  }

  .clue-change:before {
    right: 18%;
  }

  .desc-change:before {
    right: 77%;
  }

  #messages {
    overflow: scroll;
    height: calc(100% - 170px);
    padding-top: 120px;

    .message-bubble {
      margin: 0 10px 0.8em;
      border-radius: 1em;
      padding: 0.4em 1em;
      max-width: 85%;
      clear: both;
      position: relative;
      word-wrap: break-word;
      display: block;

      &.soup-owner {
        float: left;
        background-color: #F7AF9D;
        color: white;
      }

      &.soup-participant {
        float: right;
        background-color: #f9f9f9;
      }
    }

    @mixin message-bubble-after {
      content: "";
      position: absolute;
      bottom: 0;
      width: 0.5em;
      height: 1em;
    }

    .soup-owner:after {
      @include message-bubble-after;

      left: -0.5em;
      border-right: 0.5em solid #F7AF9D;
      border-bottom-right-radius: 12px 12px;
    }

    .soup-participant:after {
      @include message-bubble-after;

      right: -0.5em;
      border-left: 0.5em solid #f9f9f9;
      border-bottom-left-radius: 12px 12px;
    }
  }

  .message-form-wrapper {
    display: flex;
    width: 100%;
    background-color: #e5e5ea;
    height: 50px;
    line-height: 50px;

    .exit {
      width: 50px;
      text-align: center;
      font-size: 17px;
      font-weight: bold;

      a {
        text-decoration: none;
        color: black;
      }
    }

    form {
      display: flex;
      height : 50px;
      width: calc(100% - 50px);

      textarea {
        width: calc(100% - 50px);
        height: 35px;
        margin: auto;
        padding: 0;
        line-height: 35px;
        border: 1px solid transparent;
        border-radius: 5px;
        font-size: 17px;
      }

      input[type="submit"] {
        width: 50px;
        text-align: center;
        font-size: 17px;
        font-weight: bold;
      }
    }
  }
}
